:root {
  --width: 25rem;
}
.creditCard {
  display: inline-block;
  border-radius: 15px;
  background: radial-gradient(
    circle,
    rgba(233, 92, 122, 0.7665266790309874) 0%,
    rgba(250, 93, 119, 1) 44%,
    rgba(250, 93, 119, 1) 44%,
    rgba(250, 93, 119, 1) 47%
  );
  color: white;
  min-width: var(--width);
  min-height: calc(var(--width) * 0.65);
}
.cardContent {
  margin: 2rem;
}
.cardContent > p,
.cardContent > button {
  font-size: 1.5em;
}
.cardContent > span {
  font-size: 2.5em;
}
.cardContent > button {
  border-radius: 15px;
  color: #1f75e4;
  background: white;
  width: 100%;
}
button:hover {
  cursor: pointer;
}
